
.logo-container{
    transform: translateY(40px) rotate(-12deg);
    max-height: 90%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    .firstlogo{
        flex: 1 1;
        svg{
            width: auto;
            height: 400px;
            .svg-container{
                stroke:#CCA300;
                stroke-width:1;
                stroke-miterlimit:2.61313;
                //opacity: 0;
                animation: fill 8s 8s forwards;

                @keyframes fill {
                    0% {
                        fill: rgba(0, 0, 0, 0.1);  /* Start color */
                      }
                      25% {
                        fill: rgba(0, 0, 0, 0.25); /* Intermediate color */
                      }
                      50% {
                        fill: rgba(0, 0, 0, 0.5); /* Intermediate color */
                      }
                      75% {
                        fill: rgba(0, 0, 0, 0.75); /* Intermediate color */
                      }
                      100% {
                        fill: rgba(0, 0, 0, 1); /* End color */
                      }
                }
                                
            }
            #draw-svg{
                stroke-dasharray: 2669;
                stroke-dashoffset: 2669; 
                animation: draw 12s ease 4s;
                
                animation-fill-mode: forwards;
            }
        }  
    }
    .secondlogo{
        flex: 1 1;
        transform: translateX(-35px);
        svg{
            //position: absolute;
            width: auto;
            height: 400px;
            .svg-container2{
                stroke:#86B616;
                stroke-width:1;
                stroke-miterlimit:2.61313;
                animation: fill 8s 10s forwards;
                @keyframes fill {
                    0% {
                        fill: rgba(0, 0, 0, 0.1);  /* Start color */
                      }
                      25% {
                        fill: rgba(0, 0, 0, 0.25); /* Intermediate color */
                      }
                      50% {
                        fill: rgba(0, 0, 0, 0.5); /* Intermediate color */
                      }
                      75% {
                        fill: rgba(0, 0, 0, 0.75); /* Intermediate color */
                      }
                      100% {
                        fill: rgba(0, 0, 0, 1); /* End color */
                      }
                }
            }
            #draw-svg2{
                stroke-dasharray: 4017;
                stroke-dashoffset: 4017; 
                animation: sign 12s ease 8s;
                animation-fill-mode: forwards;
            }
        }

    }
   

    // implementation of the draw-svg effect on the outline
    // path length number was assigned to stroke-dasharray and dash offset
    // to create the drawing effect if offset moves from the path length to zero in the keyframes
    // sequence
    
   
    @keyframes draw {
        to{
            stroke-dashoffset: 0;
         }
    }
    @keyframes sign {
        to{
            stroke-dashoffset: 0;
         }
    }
    
}