
.stage-cube-count{
    opacity: 0;
    animation: fadeIn 5s 4s forwards;
    position: absolute;
    top: 0;
    width: 60%;
    height: 100%;
    padding-top: 10%;
    margin-left: 0;
    right: 0;
    overflow: hidden;
}

.cube-spinner{
    animation:spinner 12s ease-in-out infinite;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div{
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #cca300;
        background: #0000000b; 
        font-size: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 20px 0px #cca300    ;
    }
    .face1{
        transform: translateZ(100px);
    }
    .face2{
        transform: rotateY(90deg) translateZ(100px);
    }
    .face3{
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4{
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5{
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6{
        transform: rotateX(-90deg) translateZ(100px);
    }
}
@keyframes spinner {
    from ,
    to{
        transform: rotateX(0deg)  rotateY(0deg)  rotateZ(0deg);
    }
    16%{
        transform:  rotateY(-90deg);
    }
    33%{
        transform:  rotateY(-90deg)  rotateZ(90deg);
    }
    50%{
        transform:  rotateY(-180deg)  rotateZ(90deg);
    }
    66%{
        transform:  rotateY(-270deg)  rotateZ(90deg);
    }
    83%{
        transform:  rotateX(90deg);
    }
}