.about-page{
    display: flex;
    flex-wrap: wrap;
    min-width: 0;
    height: inherit;
    .text-zone{
        flex: 1 1;
        margin-left: 10%;
        text-align: justify;
        max-height: 90%;
        padding-right:5% ;
    }
    .img-box{
        position: relative;
        flex: 1.2 1;
        height: 550px;
        overflow: clip;
        border-radius: 4px;
        .abt-img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            opacity: 0;
            animation: bounceIn 1s 1.2s forwards;
            
        }
       
    }
   
}
 @media (min-width:268px) and (max-width: 950px){
        .about-page{
           // align-content: flex-start !important;
           display: block;
        
        .item {
          //flex: 1 1 100%; 
        }
        .text-zone{
            padding: 6%;
            margin: 0;
            height: fit-content;
        }
        .img-box{
            position: absolute;
            top: 0;
            z-index: -3;
            width: 100%;
            opacity: 0.2;
            height: 100%;
        }
        }
        @media screen and (min-width: 681px){
            .about-page .text-zone{
                // padding: 6%;
                margin-left: 5% !important;
                height: fit-content;
            }
        }
    }
   