.nav-bar{
   background: #000000;
   position: fixed; 
   width: 65px;
   height: 100%;
   top: 0;
   z-index: 3;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   .hamburger-icon, .close-icon{
    display: none;
   }
   .logo{
    display: block;
    padding: 8px 0;
   }

   img {
    display: block;
    margin: 8px auto;
    width: 24px;
    height: auto;
    &.sub-logo
    {
        width: 50px;
    }
   }
   nav{
    display: block;
    text-align: center;
    //position: relative;
    height: 210px;
    //top: calc(50% - 210px);
    width: 100%;

        a{
            font-size: 22px;
            color: #86B616;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i{
            transition: all 0.3s ease-out;
            }
            &:hover{
            color:#CCA300;
                svg {
                opacity:0;
                }
                &:after {
                opacity: 1;
                }
            }
            &:after {
            content: '';
            font-size: 9px;
            letter-spacing: 1.5px;
            position: absolute;
            bottom: 0;
            width: 100%;  
            margin-left: -70%;         
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
            }

            &:first-child{
                &::after{
                content: 'HOME';
                }
            }  
        }
        a.about-link{
            &:after{
            content: 'ABOUT';
            }
        }
        a.skills-link{
            &:after{
            content: 'SKILLS';
            }
        }
        a.portfolio-link{
            &:after{
            content: 'PROJECTS';
            letter-spacing: 1px;
            }
        }

        a.contact-link{
             &:after{
                content: 'CONTACT';
            }
        }
        a.active{
            svg{
                color: #CCA300;
            }
        }
    }

    ul{
       // position: relative;
        //display: block;
        display: flex;
        flex-direction: column;
        //justify-content: center;
        //gap: 8%;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        //top: 10%;
        //transform: translateY(90%);
        //bottom: 20px;
        li{
            a{
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg{
                    color:#CCA300;
                }
            }
        }
    }
}

@media screen and (max-width: 680px){
    .nav-bar{
        position: initial;
        width: 100%;
        background: transparent;
        height: auto;
        min-height: auto;
    
    ul, nav {display: none;}
    nav{
        height: 60%;
        //background-color: #000000;
        position: absolute;
        top: 0;
        padding-top: 12%;
       // padding-bottom: 6%;
        left:0;
        z-index: 4;
        a{
            padding-bottom: 15px;
            font-size: 25px;
            svg{
                opacity: 0 !important;
            }
            &:after{
                left: 0;
                margin-left: 0 !important;  
                opacity: 1 !important;
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 4px !important;
            }
        }
        &.mobile-nav{display: block !important; }
    }
    ul{
        width: 100%;
       
        background-color: #000000;
        position: absolute;
        padding: 30px auto;
        top: 0%;
        left:0;
        right: 0    ;
        z-index: 3;
        li > a{
            font-size: 22px !important;
        }
        &.mobile-nav{
            display: flex;
            flex-direction: row !important;
            justify-content: center;
            height: 55%;
            align-items: flex-end !important;
            gap: 9%;
        }
     }
    
    .hamburger-icon, .close-icon{
        display: block !important;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    }

    @media screen and (max-height: 760px) {
        ul.mobile-nav{
                height: 80% !important;
            }
         
    }
  }