.nav-bar{
   background: #000000;
   position: fixed; 
   width: 65px;
   height: 100%;
   top: 0;
   z-index: 3;
   min-height: 500px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .logo{
    display: block;
    padding: 8px 0;
   }

   img {
    display: block;
    margin: 8px auto;
    width: 24px;
    height: auto;
    &.sub-logo
    {
        width: 50px;
    }
   }
   nav{
    display: block;
    text-align: center;
    //position: relative;
    height: 210px;
    //top: calc(50% - 210px);
    width: 100%;

        a{
            font-size: 22px;
            color: #86B616;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;

            i{
            transition: all 0.3s ease-out;
            }
            &:hover{
            color:#CCA300;
                svg {
                opacity:0;
                }
                &:after {
                opacity: 1;
                }
            }
            &:after {
            content: '';
            font-size: 9px;
            letter-spacing: 1.5px;
            position: absolute;
            bottom: 0;
            width: 100%;  
            margin-left: -70%;         
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-out;
            }

            &:first-child{
                &::after{
                content: 'HOME';
                }
            }  
        }
        a.about-link{
            &:after{
            content: 'ABOUT';
            }
        }
        a.portfolio-link{
            &:after{
            content: 'PORTFOLIO';
            letter-spacing: 1px;
            }
        }

        a.contact-link{
             &:after{
                content: 'CONTACT';
            }
        }
        a.active{
            svg{
                color: #CCA300;
            }
        }
    }

    ul{
       // position: relative;
        display: block;
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100%;
        //top: 10%;
        //transform: translateY(90%);
        //bottom: 20px;
        li{
            a{
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg{
                    color:#D8973C;
                }
            }
        }
    }
}